export(balPanel)
export(getEfromVlist)
export(getV1fromVlist)
export(getVfromE)
export(makeSQL_createTable)
export(makeVertexAtt)
export(mergeEdgeLists)
export(pruneEdge)
export(quantileFeatureScore)
export(quantileScore)
export(removePeriods)
export(rules2df)
export(smartAgg)
export(travCount)
export(travOut)
import(data.table)
import(igraph)
