export(balPanel)
export(editForm)
export(getEfromVlist)
export(getV1fromVlist)
export(getVfromE)
export(logit2tab)
export(makeForm)
export(makeSQL_createTable)
export(makeVertexAtt)
export(mergeEdgeLists)
export(optimizeModelWeight)
export(plotBestglm)
export(predQuantile)
export(predSortPlot)
export(pruneEdge)
export(quantileFeatureScore)
export(quantileScore)
export(removePeriods)
export(rules2df)
export(shuffleAnova)
export(smartAgg)
export(travCount)
export(travOut)
export(uniglm)
import(Hmisc)
import(bestglm)
import(data.table)
import(igraph)
